* {
    box-sizing: border-box;
}

#mydiv {
    width: 450px; 
    margin: 0 auto;
    border-radius: 15px;
    background: #eee;
    overflow: hidden;
    
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    padding: 10px 0; 
}
.rezk{
    background-color: beige;
    background: red;
}

.card {
    width: 120px;
    height: 120px;
    
    background: url('m.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 7px; 
    position: relative;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
        opacity: 0; 
        transition: opacity 0.3s;
}

.is-flipped img {
    opacity: 1;
}
.try{
        width: 450px; 
    margin: 0 auto;
    border-radius: 15px;
    background: #eee;
    overflow: hidden;
    
    display: flex;
    flex-wrap: wrap; 
    justify-content: left; 
    padding: 0px 0;
    margin-bottom: 20px; 
}